<dx-popup id="noteAddPopup"
          [visible]="isPopupVisible"
          (closeOnOutsideClickChange)="closePopup"
          [showTitle]="true"
          title="Add Remind"
          [width]="500"
          [height]="600">
  <div class="note-edit-form" >
    <form
      [formGroup]="remindForm"
      (ngSubmit)="save()"
      *ngIf="remindForm" >
      <dx-text-box formControlName="title" placeholder="Title"></dx-text-box>
      <dx-tag-box
        formControlName="tags"
        [items]="tags"
        valueExpr="id"
        displayExpr="tagTitle"
        placeholder="Tags"></dx-tag-box>

      <dx-date-box formControlName="deadline"
                   placeholder="Deadline"
                   type="datetime"
                   displayFormat="dd.MM.yyyy HH:mm"></dx-date-box>
      <dx-date-box formControlName="remindMe"
                   placeholder="Remind me for"
                   type="datetime"
                   displayFormat="dd.MM.yyyy HH:mm"></dx-date-box>
      <dx-button text="Save" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
    <dx-popup *ngIf="showNotification && currentRemind"
              [visible]="showNotification"
              [showTitle]="true"
              title="Напоминание о заметке"
              [width]="250"
              [height]="150">
      <div *ngIf="currentRemind" class="remind-notification">
        НАПОМИНАЮ О: {{ currentRemind.title }}
      </div>
    </dx-popup>
  </div>
</dx-popup>


