<div class="card">
  <div class="card-body">
    <h2>{{ note.title }}</h2>
    <p>{{ note.content }}</p>
    <p class="text">Date:
      <span class="inner-text">{{ note.date | date: 'dd.MM.yyyy,HH:mm' }}</span>
    <p class="text" *ngIf="note.deadline">
    Deadline:
    <span class="inner-text">{{ note.deadline | date: 'dd.MM.yyyy, HH:mm' }}</span>
    </p>
    <ul *ngIf="note.tags && note.tags.length > 0">
      <li *ngFor="let tag of note.tags">{{ tag }}</li>
    </ul>

    <div class="card-buttons">
      <dx-button
        id="deleteButton"
        icon="trash"
        type="danger"
        (onClick)="onDelete()">
      </dx-button>
      <dx-button
        id="editButton"
        icon="edit"
        type="success"
        (onClick)="onEdit()">
      </dx-button>
    </div>
  </div>
</div>

