<dx-popup id="noteEditPopup"
          [visible]="isPopupVisible"
          [showTitle]="true"
          [width]="500"
          [height]="600">
  <div class="note-edit-form">
    <dx-text-box [(value)]="note.title" placeholder="Title"></dx-text-box>
    <dx-text-area [(value)]="note.content" placeholder="Content"></dx-text-area>
    <dx-tag-box [(value)]="note.tags" placeholder="Tags"></dx-tag-box>
    <dx-date-box [(value)]="note.date"
                 placeholder="Date"
                 type="datetime"
                 displayFormat="dd.MM.yyyy HH:mm"></dx-date-box>
    <dx-date-box [(value)]="note.deadline"
                 placeholder="Deadline"
                 type="datetime"
                 displayFormat="dd.MM.yyyy HH:mm"></dx-date-box>
    <dx-button text="Save" (onClick)="save()"></dx-button>
  </div>
</dx-popup>


