.notes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

/*.card-container > .card {
  flex: 0 0 calc(33.333% - 20px); !* Ограничиваем количество карточек в ряду до трех *!
  margin: 10px;
}*/
