<app-loading [visible]="(loadingService.loading$ | async) ?? false"></app-loading>
<app-section-wrapper [ButtonName]="'Add new Notes'" [addFunc]="addNote">
  <ng-container *ngIf="items.length; else emptyListTemplate">
    <div *ngFor="let note of items" class="card-container">
      <app-card
        [note]="note"
        (deleteNote)="deleteNote(note.id)"
        (editNote)="noteDetails(note)"
        class="app-card">
      </app-card>
    </div>
  </ng-container>
  <ng-template #emptyListTemplate>
    <div class="card-container empty-list">
      Пока здесь пусто
    </div>
  </ng-template>
</app-section-wrapper>







