.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Использует минимальную высоту, чтобы контейнер всегда был по крайней мере на всю высоту экрана */
}
app-footer {
  margin-top: auto; /* Автоматический отступ сверху перемещает футер вниз */
}
