<div class="flex-container">
  <dx-toolbar
    [items]="toolbarContent"
    id="toolbar"
    class="dx-theme-background-color"
  ></dx-toolbar>
  <dx-drawer
    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="400"
    [closeOnOutsideClick]="true"
  >
    <div *dxTemplate="let data of 'template'"
      style="width: 200px">
      <dx-list
        class="panel-list dx-theme-typography-background-color"
        [items]="navigation"
        [dataSource]="navigation"
        [hoverStateEnabled]="false"
        [activeStateEnabled]="false"
        [focusStateEnabled]="false"
      >
      </dx-list>
    </div>
    <div
      id="content"
      class="dx-theme-background-color"
      [innerHTML]="text"
    ></div>
  </dx-drawer>


</div>


<!--<dx-toolbar
 [items]="toolbarContent"
 id="toolbar"
 class="dx-theme-background-color">
 </dx-toolbar>
<dx-drawer
  [openedStateMode]="selectedOpenMode"
  [position]="selectedPosition"
  [revealMode]="selectedRevealMode"
  [(opened)]="isDrawerOpen"
  [height]="400"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'content'">
    <router-outlet></router-outlet>
  </div>

  <div *dxTemplate="let data of 'panel'">
    &lt;!&ndash; Изменение displayExpr на 'text' для отображения текста из сервиса &ndash;&gt;
    <dx-list [items]="navigation"
     displayExpr="text"
      (onItemClick)="onNavigationItemClicked($event)"></dx-list>
  </div>
  <div id="content"
   class="dx-theme-background-color"
    [innerHTML]="text"></div>
</dx-drawer>-->



