
<app-loading [visible]="(loadingService.loading$ | async) ?? false"></app-loading>
<app-section-wrapper [ButtonName]="'Add new Remind'" [addFunc]="addRemind">
  <ng-container *ngIf="items.length; else emptyListTemplate">
  <ng-container *ngIf="tags.length > 0">
  <div *ngFor="let remind of items" class="card-container">
    <app-remind-card
      [remind]="remind"
      [deleteParentFunc]="deleteRemind"
      [editParentFunc]="remindDetails">
    </app-remind-card>
  </div>
  </ng-container>
  </ng-container>

  <dx-popup
    *ngIf="currentRemind"
    [visible]="true"
    [showCloseButton]="true"
    (onHiding)="currentRemind = null"
  >
    <div *ngIf="currentRemind">
      НАПОМИНАЮ О {{currentRemind.title}}
      <!-- Здесь может быть дополнительная информация о напоминании -->
    </div>
  </dx-popup>

 <ng-template #emptyListTemplate>
  <div class="card-container empty-list">
    Пока здесь пусто
  </div>
  </ng-template>
</app-section-wrapper>
<!--
<app-remind-card
  [tags]="tags"
  [remind]="remind"
  [deleteParentFunc]="deleteRemind"
  [editParentFunc]="remindDetails">
</app-remind-card>-->
