<div class="flex-container">
  <dx-toolbar
    [items]="toolbarContent"
    id="toolbar"
    class="dx-theme-background-color"
  ></dx-toolbar>
  <dx-drawer
    openedStateMode="shrink"
    position="left"
    revealMode="slide"
    template="template"
    [(opened)]="isDrawerOpen"
    [closeOnOutsideClick]="false"
  >
    <div *dxTemplate="let data of 'template'"
         class="listItems">
      <dx-list
        class="panel-list dx-theme-typography-background-color"
        [items]="navigation"
        [dataSource]="navigation"
        [hoverStateEnabled]="false"
        [activeStateEnabled]="false"
        [focusStateEnabled]="false"
        (onItemClick)="onNavigationItemClicked($event.itemData)"
      >
      </dx-list>
    </div>
    <div id="content" class="dx-theme-background-color">
      <router-outlet></router-outlet>
    </div>

  </dx-drawer>
</div>


